---
import Layout from "../layouts/Layout.astro";
---
<script>
  const name = 'my-button'
  const style = `
    .my-button-wrap{
      display: flex;
      align-items: center;
      justify-content: center;
      background:#333;
    }
  `
  const template = `
    <button class="my-button-wrap">
      <slot></slot>
    </button>
  `
  class MyButton extends HTMLElement{
    constructor(){
      super()
      const shadow = this.attachShadow({mode: 'open'})
      shadow.appendChild(this.appendStyle())
      shadow.innerHTML = template
      console.log(this);
    }
    appendStyle() {
        var styleElement = document.createElement('style');
        styleElement.id = name
        styleElement.innerHTML = style
        return styleElement
    }
  }
  customElements.define(name, MyButton)
</script>
<Layout title="Welcome to Astro.">
	<div class="wh-full flex-center">
    <my-button>
      <span><i class="i-ri-download-line"></i></span>
      <span>MyButton</span>
    </my-button>
  </div>
</Layout>
