---
export interface Props {
	title?: string;
  npm?:string,
  github?:string
}

const { title,npm,github } = Astro.props;
---
<div class="wh-full flex-col gap-3">
  <div class="flex items-baseline gap-1">
    <h1 class="text-3xl flex-y-center gap-1 dark:(text-white/80)">
      👉
      {title}
    </h1>
    {
      npm?(
        <a href={npm} target="_blank" class="text-black/60 hover:(text-black) dark:(text-white/50 hover:(text-white/80))" >
          <i class="i-ri-npmjs-fill"></i>
        </a>
      ):null
    }
    {
      github?(
        <a href={github} target="_blank" class="text-black/60 hover:(text-black) dark:(text-white/50 hover:(text-white/80))" >
          <i class="i-ri-github-fill"></i>
        </a>
      ):null
    }
  </div>
  <div class="flex-1 border-t p-y-3 dark:(border-white/20)">
    <slot></slot>
  </div>
</div>
