---
export interface Props {
	title?: string;
}

const { title } = Astro.props;
---
<div class="wh-full flex-col gap-3">
  <h1 class="text-3xl flex-y-center gap-1">
    👉
    {title}
  </h1>
  <div class="flex-1">
    <slot></slot>
  </div>
</div>
