<div class="wh-full">
  <div class="w-8/9 h-full m-auto flex-y-center xl:(w-screen-xl)">
    <h1 class="text-3xl">My Demos @Eiog</h1>
    <nav class="m-l-auto">
      <ul class="flex-y-center text-xl">
        <li><a href="https://github.com/Eiog/demos" target="_blank"><i class="i-ri-github-fill"></i></a></li>
      </ul>
    </nav>
  </div>
</div>
