<div class="wh-full">
  <div class="w-8/9 h-full m-auto flex-y-center xl:(w-screen-xl)">
    <h1 class="title">MyDemos @Eiog</h1>
    <nav class="m-l-auto">
      <ul class="flex-y-center text-xl">
        <li><a href="https://github.com/Eiog/demos" target="_blank"><i class="i-ri-github-fill"></i></a></li>
      </ul>
    </nav>
  </div>
</div>
<style scoped>
  .title{
    @apply bg-clip-text text-transparent text-3xl font-black bg-gradient-to-tl from-blue-5 to-fuchsia-5;
  }
</style>
