<script>
  const setDark = ()=>{
    document.documentElement.classList.add('dark');
    toggleDark.children.item(0)!.classList.remove('i-ri-sun-fill');
    toggleDark.children.item(0)!.classList.add('i-ri-moon-fill');
    localStorage.setItem("theme", 'dark');
  }
  const setLight = ()=>{
    document.documentElement.classList.remove('dark');
    toggleDark.children.item(0)!.classList.remove('i-ri-moon-fill');
    toggleDark.children.item(0)!.classList.add('i-ri-sun-fill');
    localStorage.setItem("theme", 'light');
  }
  const toggleDark = document.querySelector('.toggle-dark')!
  const handleToggleClick = () => {
    const isDark = document.documentElement.classList.contains("dark");
    if (isDark) {
      setLight();
    } else {
      setDark();
    }
  }
  toggleDark.addEventListener('click', handleToggleClick);
</script>
<div class="cursor-pointer toggle-dark">
  <i class="i-ri-sun-fill"></i>
</div>
